extends /layouts/_default

block content
    main.main
        form.form(id="paymentForm" action="success.html" onsubmit="return validateForm(this)")
            fieldset.information.group
                
                legend Personal Information
                fieldset.name
                    label(for="firstName") First Name
                    input(type="text" name="firstName" placeholder="Your name" maxlength="20" onkeyup="onUpdateInput(this)") 
                fieldset.surname
                    label(for="surname") Surname
                    input(type="text" name="surname" placeholder="Your surname" maxlength="50" onkeyup="onUpdateInput(this)")
            fieldset.shipping.group
                legend Shipping information
                fieldset.adress
                    label(for="adress") Adress
                    textarea(name="adress" placeholder="Your adress" maxlength="150" onkeyup="onUpdateInput(this)")
                fieldset.city
                    label City
                    select(name="country" onChange="onChangeCountry(this,this.value)") 
                        option(value="" disabled selected) Select country
                        option(value="DE") Germany
                        option(value="AT") Austria
                        option(value="ES") Spain
                        option(value="FR") France
                        option(value="UK") UK
                    input(type="text" name="city" placeholder="City" onkeyup="onChangeCity(this,this.value)" onblur="onBlurCity(this)" maxlength="70" autocomplete="off" disabled)
                    div.results
                        ul.list
                fieldset.cost
                    label Shipping cost
                    input(type="text" name="cost" placeholder="Total" readonly)
            fieldset.payment.group
                legend Payment method
                fieldset.card-name
                    label(for="card-name") Card name
                    input(type="text" name="cardName" placeholder="Complete name" onkeyup="onUpdateInput(this)" maxlength="70") 
                fieldset.card-number
                    label(for="card-number") Card number
                    input(type="text" name="cardNumber" maxlength="16" placeholder="Your card number" onkeyup="onUpdateInput(this)")
                fieldset.card-ccv
                    label(for="card-ccv") CCV
                    input(type="text" name="cardCCV" maxlength="3" placeholder="Card CCV" onkeyup="onUpdateInput(this)")
            fieldset.warnings
                ul.list
            fieldset.submit
                fieldset.agreement
                    input(type="checkbox" id="agreement")
                    label(for="agreement") Agree terms and conditions
                fieldset.submit
                    button Send
            
                
            
