extends /layouts/_default

block content
    main.main
        div.thankyou
            div.panel
                h1 Thank You
                p Payment complete!
            
                
            
