@import "frontendler";
@import "settings";
@include animations();
@include reset();

body {
    border: none;
    padding: 0;
    margin: 0;
}

main {
    @include grid-row();
    @include grid-column(1,1,false);
    padding-bottom: $grid-gutter;
}

legend {
    @include grid-column(1,1);
    margin-bottom: 20px;
    font-size: 30px;
}

form {
    border: none;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;

    &:focus {
        border-color: #6696ea;
    }

    &:invalid:focus {
        border-color: #fc0d1b;
    }

    &:valid:focus {
        border-color: #94c37e;
    }
}

select {
    // background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), linear-gradient(to right, #ccc, #ccc);
    // background-position: calc(100% - 20px) calc(1em + 4px), calc(100% - 15px) calc(1em + 4px), calc(100% - 2.5em) 0.7em;
    // background-size: 5px 5px, 5px 5px, 1px 1.5em;
    // background-repeat: no-repeat;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 50px;
    background: #ccc;
    border: 1px solid #333;
    border-radius: 3px;
}

fieldset {
    @include clearfix();
    border: none;

    &.group {
        margin: $grid-gutter 0;
    }
}

fieldset.information {
    fieldset {
        @include grid-column(1,1);
    }
}

fieldset.shipping {

    fieldset.adress {
        @include grid-column(1,1);
    }

    fieldset.city {
        @include grid-column(2,3);
        @include grid-column-breakpoint("small",1,1);

        select {
            @include grid-column(4,12,false);
            @include grid-column-breakpoint("small",1,2);
            @include grid-column-breakpoint("medium",1,2);
            position: relative;
            border-radius: 3px 0 0 3px;
            appearance: none;

            &:focus {
                z-index: 2;
            }
        }

        input[type=text] {
            @include grid-column(8,12,false);
            @include grid-column-breakpoint("small",1,2);
            @include grid-column-breakpoint("medium",1,2);
            position: relative;
            border-radius: 0 3px 3px 0;
            margin-left: -1px;

            &:focus {
                z-index: 2;
            }
        }
    }

    fieldset.cost {
        @include grid-column(1,3);
        @include grid-column-breakpoint("small",1,1);
    }
}

fieldset.payment {
    fieldset.card-name {
        @include grid-column(1,1);
    }

    fieldset.card-number {
        @include grid-column(8,12);
    }

    fieldset.card-ccv {
        @include grid-column(4,12);
    }
}

fieldset.submit {
    fieldset.agreement {
        @include grid-column(1,1);
        margin-bottom: $grid-gutter/2;
        vertical-align: middle;

        label {
            margin: 0;
            display: inline;
        }

        input[type=checkbox] {
            margin: 0;
            display: inline;
        }
    }

    fieldset.submit {
        @include grid-column(1,1);
    }
}
