doctype html
html(lang="en")
    head
        // SETTINGS - DOCUMENT 
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name="viewport",content="width=device-width,initial-scale=1.0,user-scalable=no")
        title Payment form
        // SETTINGS - DEFAULT
        link(rel='icon', href='/assets/images/branding/favicon.png')
        // STYLES - FONT
        link(href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300',rel='stylesheet',type='text/css')
        // STYLES - HEAD
        // build:css /assets/styles/main.css
        link(rel='stylesheet', href='/assets/styles/main.css')
        // endbuild
        //- SCRIPTS - HEAD
        //-script(src='https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.js')
    body
        block content
        // SCRIPTS - BODY
        // build:js /assets/scripts/main.js
        script(src="/assets/scripts/main.js")
        // endbuild
